main {
    width: 100%;
    height: 1500px;
}

div { 
    background-image: url("https://www.daldarin.com/img/main_con01_bg.png");
}

main > img {
    height: 50px;
}
/* 커서 커짐 : https://www.daldarin.com/img/cursor_icon.png */